<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="PythonFastCGI"
        path="*"
        verb="*"
        modules="FastCgiModule"
        scriptProcessor="C:\\Python312\\python.exe|C:\\Python312\\Lib\\site-packages\\wfastcgi.py"
        resourceType="Unspecified"
        requireAccess="Script" />
    </handlers>

    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>

    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^static/.*" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="PYTHONPATH" value="C:\\inetpub\\wwwroot\\Site-Outage-Reporter" />
    <add key="WSGI_LOG" value="C:\\inetpub\\logs\\wfastcgi.log" />
  </appSettings>
</configuration>
